.container{
  width:15rem;
  height: inherit;
  position:absolute;
  background-color:#34425A;
  left:0;
  top:0;
  z-index: 1;
}
.container ul{
  list-style: none;
  padding:0;
  margin:0;
}
.container li{
  text-align: center;
}
.container a, .container a:visited{
  position:relative;
  display:block;
  padding:1rem;
  color:#899dc1;
  text-decoration: none;
}
.container a:hover, .active{
  color:#ffffff !important;
  background: #2b384e;
}
.links{
  color:blue;
}
.dropdown div{
  transition:height .2s ease-in-out;
  overflow:hidden;
  background: #2b384e;
}
.dropdown ul{
  padding:1rem;
}
.dropdown li{
  font-size:75%;
}
.dropdown.open > a, .dropdown.open:hover > a {
  color:#fff;
  background:#2b384e;
}
.dropdown.open ul li a:hover{
  color:#fff;
  background:#34425A;
}
.dropdown.open .caret{
  transform:translateY(-50%) rotate(-90deg);
}
.active{
  background:#34425A;
}
.caret{
  position:absolute;
  display:inline-block;
  right:.8rem;
  top:50%;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg);
  transition:transform .2s ease-in-out;
}
.caret svg{
  fill:#899dc1;
  vertical-align: middle;
}
